<?xml version="1.0" encoding="UTF-8"?>

<!-- Настраиваем безопастность для:
глобальной папки Python37: Все пользователи - полный доступ или изменение
папка с проектом: добавляем пользователя IIS_IUSRS (имя_компа\IIS_IUSRS)
папка с проектом: добавляем пользователя IIS AppPool\Имя_ВебСайта_FlaskWeb
для Фласка конрневая папке, где лежит файла my_app, а для Джанго, где лежит папка с проектом mysite


Добавление сопоставления модуля (Python FastCGI):
Путь запроса: *
Модуль: FastCgiModule
Исполняемый файл (python.exe|wfastcgi.py):
C:\Users\vxv\Documents\vxvPy\Work\testhome\DJtest\venv\Scripts\python.exe|C:\Users\vxv\Documents\vxvPy\Work\testhome\DJtest\venv\Lib\site-packages\wfastcgi.py
C:\py\Flask_Demo\env\Scripts\python.exe|C:\py\Flask_Demo\env\Lib\site-packages\wfastcgi-3.0.0-py3.7.egg\wfastcgi.py
Ограничения запроса: убрать галочку


Файл wfastcgi-enable-script.py автоматом создает Модуль FastCgiModule в Параметрах FastCgi-->

<!-- Файл с конфигом называем "web.config" -->

<!-- Файл конфигурации для Flask: -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\py\Flask_Demo\env\Scripts\python.exe|C:\py\Flask_Demo\env\Lib\site-packages\wfastcgi-3.0.0-py3.7.egg\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <!-- путь до корневой папки-->
        <add key="PYTHONPATH" value="C:\py\FD3" />
        <!-- имя стартового файла в корневом каталоге и обращение к переменной "app" -->
        <add key="WSGI_HANDLER" value="my_app.app" />
        <!-- файл для логов -->
        <!-- <add key="WSGI_LOG" value="C:\inetpub\wwwroot\FlaskApplication\Flask_Demo\app.log" />-->
    </appSettings>
</configuration>  


<!-- Файл конфигурации для Django: -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\vxv\Documents\vxvPy\Work\testhome\DJtest\venv\Scripts\python.exe|C:\Users\vxv\Documents\vxvPy\Work\testhome\DJtest\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <!-- mysite - это имя корневаого каталога или проекта -->
        <add key="PYTHONPATH" value="C:\Users\vxv\Documents\vxvPy\Work\testhome\DJtest\mysite" />
        <!-- mysite - это имя пакета с настройками прокета mysite-->
        <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
	</appSettings>
</configuration>